<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Weather Summary</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container bg-light justify-content-center">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(forecasts)}">
        <h2>Forecast List</h2>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Dummy Zip Code</th>
                <th>Dummy City</th>
                <th>Dummy Temperature</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="forecast : ${forecasts}">
                <td th:text="${forecast.id}"><a href="/forecast/${forecast.id}">ID</a></td>
                <td th:text="${forecast.cityId}">Dummy Zip Code</td>
                <td th:text="${forecast.city}">Dummy City</td>
                <td th:text="${forecast.temperature}">Dummy Temperature</td>
                <td><a th:href="${ '/forecast/' + forecast.id}">View</a></td>
                <td><a th:href="${'/forecast/edit/' + forecast.id}">Edit</a></td>
                <td><a th:href="${'/forecast/delete/' + forecast.id}">Delete</a></td>
            </tr>
        </table>

    </div>



</div>

</body>
</html>