<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <head lang="en">
        <title>Weather Data</title>

 </head>
 <body>
 	<h2>Weather API</h2>

		<div class="div">
            <a  href="#" th:href="@{/weather}" style="text-decoration: none"class="link">WEATHER DATA</a>          
        </div>
        
        <form action="weather" method="post">
            <div>
                <label>Enter the city name to check the weather</label>    
                <input type="text" name="city">
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>