<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Weather Summary</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container bg-light justify-content-center">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<h1>Weather now:</h1>
<div class="image">
    <img src="/static/img/default.png" width="105" height="105" alt=""/>
</div>
<div>

    <table width="35%" border="0" cellspacing="5" cellpadding="5">
        <tbody>
        <tr>
            <td><label>Weather in:</label></td>
            <!--/*@thymesVar id="city" type="java.lang.String"*/-->
            <td><span th:text="${city}"></span></td>
        </tr>
        <tr>
            <td><label>Country:</label></td>
            <!--/*@thymesVar id="country" type="java.lang.String"*/-->
            <td><span th:text="${country}"></span></td>
        </tr>
        <tr>
            <td><label>Temperature:</label></td>
            <!--/*@thymesVar id="temp" type="java.lang.String"*/-->
            <td><span th:text="${temp}"></span></td>
        </tr>
        <tr>
            <td><label>Pressure:</label></td>
            <!--/*@thymesVar id="pressure" type="java.lang.String"*/-->
            <td><span th:text="${pressure}"></span></td>
        </tr>
        <tr>
            <td><label>Humidity:</label></td>
            <!--/*@thymesVar id="humidity" type="java.lang.String"*/-->
            <td><span th:text="${humidity}"></span></td>
        </tr>
        <tr>
            <td><label>Cloud Cover:</label></td>
            <!--/*@thymesVar id="rain" type="java.lang.String"*/-->
            <td><span th:text="${rain}"></span></td>
        </tr>
        </tbody>
    </table>
</div>

</div>
</body>
</html>


